@tailwind base;
@tailwind components;
@tailwind utilities;

.header-hero::before {
  content: '';
  z-index: -1;
  opacity: 0;
  @apply absolute top-0 left-0 w-full h-full bg-gradient-to-r from-violet-500 to-fuchsia-400;
}

.navribbon {
  @apply top-1 lg:top-2 right-0 w-48 h-10 bg-gradient-to-r from-violet-500 to-fuchsia-400 overflow-hidden rounded-tl-3xl rounded-bl-3xl lg:w-56 lg:h-12 shadow-md hover:shadow-amber-100
}

.footer-copyright{
  @apply bg-gradient-to-r from-cyan-500 to-purple-400
}

.gradient-btn {
  background-image: linear-gradient(to right, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
  background-size: 200% auto;
  @apply overflow-hidden pt-4 pb-4 pl-8 pr-8 rounded-full uppercase text-white text-sm font-semibold duration-500;
}

.gradient-btn:hover {
  background-position: right center;
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.video-popup{
  background-image: linear-gradient(to right, #f7a5b2 0%, #d997d3 25%, #f78699 100%);
  background-size: 200% auto;
  @apply overflow-hidden pt-4 pb-4 pl-8 pr-8 rounded-full uppercase text-white text-sm font-semibold my-10 duration-500;
}

.video-popup:hover{
  background-position: right center;
  --tw-bg-opacity: 1;
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

code {
  @apply bg-gray-300 border rounded-md overflow-hidden px-2 py-1
}

.alert-success {
  @apply bg-lime-300 text-green-600
}

.alert-info {
  @apply bg-indigo-200 text-blue-500
}

.alert-warning {
  @apply bg-orange-100 text-orange-500
}

.alert-danger {
  @apply bg-red-200 text-pink-500
}

.alert-close {
  @apply absolute end-1 top-1 ml-3 rounded-full hover:border hover:border-gray-300 hover:bg-gray-100 p-1 bg-transparent text-pink-400
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}